<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}{% endblock %}

    <script type="text/javascript">
            window.jQuery || document.write("<script src='{{ asset('js/jquery.min.js') }}'>" + "<" + "/script>");
    </script>
    {% block javascripts %}
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>
</html>
